<h1>adicione u usuário</h1>
<form action="/users/create " method="POST" class="form">
    <div class="form-control">
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Digite o nome do usuario">
    </div>
    <div class="form-control">
            <label for="ocupation">Profissao:</label>
            <input type="text" name="name" placeholder="Digite a profissao do usuario">
    </div>
     <div class="form-control form-checkbox">
        <input type="checkbox" name="newsletter" checked>
        <label for="newsletter">Enviar promoçoes?</label>
    </div>
    <input type="submit" value="Cadastrar">
</form>